.back{
	background-image: url(images/background5.png);
	background-size: 100% 720px;
}


.news{
	margin-top: 55px;
	height: 600px;
}

.row1{
	background-color: #fff;
	border-top-right-radius:4px;
	border-top-left-radius: 4px; 
	height: 400px;
}

.row1 img{
	width:300px;
	height:400px;
	margin-top: 25px;
	border: 1px solid;
	border-radius: 4px;
}

.row2{
	background-color: #fff;
	padding:50px 25px;
	font-size: 18px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 180px;
}
